<svg width="480px" height="160px" xmlns="http://www.w3.org/2000/svg" style="margin:0px">
<style>
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
</style>
<style>
.main{
display: flex;
flex-direction: row;
align-items: center;
background: #6666CC;
border-radius: 10px;
animation: 1000ms fadein ease-out;
}
img{
padding:20px;
border-radius:25px;
filter: drop-shadow(2px 4px 6px #393972);
}
.info{
display: flex;
flex-direction: column;
}
.song{
    color: #FFFF00;
    font-size: 27px;
    font-family: "Poppins", sans-serif;
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top:2px;
}
.artist{
    color: #CCFFFF;
    font: caption;
    font-size: 15px;
}
.bar{
    height:10px;
    width:2px;
    background:white;
    margin:3px;
    animation:wave 0.8s -0.8s infinite linear alternate-reverse;
    transition: all 0.8s;
    border-radius:200px;
    background: #fff;
    mix-blend-mode: soft-light;
}
@keyframes wave{
    0% { height:0.5px; };
    100% { height:10px; };
}
@keyframes fadein{
    0% { opacity:0%; };
    100% { opacity:100%; };
}
</style>
<g>
<rect xmlns="http://www.w3.org/2000/svg"/>
<g>
<foreignObject width="480px" height="160px">
<div xmlns="http://www.w3.org/1999/xhtml">
<div class="main">
<img class="pic" src="data:image/jpg;base64,{{imgstr}}" width="120px"></img>
<div class="info" xmlns="http://www.w3.org/1999/xhtml">
<div xmlns="http://www.w3.org/1999/xhtml" style="width: 100%;font: caption;padding-bottom: 3px;font-size: smaller;color: pink;mix-blend-mode: overlay; line-height:17px;">{{status}}</div>
<a xmlns="http://www.w3.org/1999/xhtml" class="song" >{{songname}}</a><a class="artist" xmlns="http://www.w3.org/1999/xhtml">by {{artist}} </a>
<div xmlns="http://www.w3.org/1999/xhtml" style="   display: flex;    height: 26px;   flex-direction: row;    align-items: flex-end;">
    {{bars|safe}}
    </div>
</div>
</div>
</div>
</foreignObject>
</g>
</g>
</svg>